.form {
  background-color: whitesmoke;
  padding: 25px 20px 25px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form > form > input {
  border: 1px;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.form > form > .add {
  float: right;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  background-color: green;
  border: 0px;
}
